<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cotizacion</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./app.js" type="module"></script>
</head>

<body style="background-color: rgb(188, 241, 244); color: black;"><br>
  <div class="container" style="background-color: rgb(95, 93, 93); height: 900px; border-radius: 2em;"><br>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" class="navbar bg-dark" data-bs-theme="dark"
      style="border-radius: 1em; width: 100%;">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: rgb(25, 177, 237); font-size: 8mm; font-family: Monserrat;">Cotizacion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="./">Inicio</a>
            <a class="nav-link active " aria-current="page" href="./tabla">Tabla de Multiplicar</a>
          </div>
        </div>
      </div>
    </nav>
    <br><br>
    <img src="./img/cotizacion1.png" alt="" style="padding-left: 400px;">

    <form id="coti" action="/cotizacion" method="post">
      <br><br>
      <div id="f"
        style="float: left;  background-color: rgb(34, 36, 34); padding-left: 5%; width: 40%; color: white; border-radius: 1em;">
        <br>
        <label class="fs-3" for="">Valor del automovil: </label>
        <div class="input-group " style="width:80%;">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="number" id="valor" name="valor" required="true" class="form-control" value=<%=valor%> >
        </div><br>


        <label class="fs-3" for="">Porcentaje de pagos: </label>
        <select style="width:80%; " class="form-select" aria-label="Default select example" name="pinicial"
          id="pinicial">

          <option value="10">10%</option>
          <option value="30">30%</option>
          <option value="50">50%</option>
          <option value="70">70%</option>
        </select><br>

        <label for="" class="fs-3">Plazos: </label>
        <select style="width:80%;" class="form-select" aria-label="Default select example" name="plazo" id="plazo">
          <option value="12">12 Meses</option>
          <option value="24">24 Meses</option>
          <option value="36">36 Meses</option>
          <option value="48">48 Meses</option>
          <option value="60">60 Meses</option>
        </select><br>
        <div class="buttons">
          <button id="btncalcular" type="submit" value="calcular" onclick="calcular()" class="btn btn-primary mb-3"
            style="float: center;">Calcular</button>
          <button id="btnlimpiar" type="reset" value="limpiar" onclick="limpiar()" class="btn btn-danger mb-3"
            style="float: center;">limpiar</button>

        </div>

      </div>
    </form>
    <div id="resultado" name="resultado"
      style=" text-align: center; float: right; background-color: rgb(34, 36, 34); width: 40%; color: white; border-radius: 1em;">
      <hr><br>
      <h3>Información de la cotización</h3>
      <% let pagoInicial=0; let totalfin=0; let pmensual=0; if(valor!=null){ pagoInicial=valor * (pinicial/100);
        totalfin=valor - pagoInicial; pmensual=totalfin/plazo; %>

        <hr><br>
        <div id="resultados" value="resultados"></div>
        <h3 id="resultados" name="resultados"
          style=" text-align: left; font-size: 5mm; background-color: rgb(55, 48, 103); width: 100%; padding: 10px;">
          Valor del automovil : $<%=valor%><br>
            Porcentaje de pago Inicial : <%=pinicial%> %<br>
              Plazos : <%=plazo%> meses
                <hr>
                Pago Inicial : $<%=pagoInicial%> <br>
                  Total a financiar : $<%=totalfin%> <br>
                    Pago Mensual : $<%=pmensual%>
                      <% } %>
        </h3><br><br>



    </div>
  </div>

</body><br>

</html>