<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <title>Practica 01 EJS</title>
  </head>

  <body class="p-3 mb-2 bg-dark text-white">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" class="navbar bg-dark" data-bs-theme="dark"
      style="border-radius: 2em;">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: rgb(25, 177, 237); font-size: 8mm; font-family: Monserrat;">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="./tabla">Tabla de Multiplicar</a>
            <a class="nav-link active " aria-current="page" href="./cotizacion">Cotizacion</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div align="center">
        <h1>
          <%=titulo%>
        </h1>
        <h2>
          <%=name%>
        </h2>
        <h3>
          <%=group%>
        </h3>
        <img src="./img/logo upsin.png" alt="" style="margin: 2rem" />
      </div>
      <table border="1" class="table table-dark table-striped table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Materias</th>
          </tr>
        </thead>
        <tbody>
          <% for(item of listado){ %>
            <tr>
              <td>
                <%=item.matricula%>
              </td>
              <td>
                <%=item.nombre%>
              </td>
              <td>
                <%=item.sexo%>
              </td>
              <td>
                <%=item.materias%>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </body>

</html>
